<!DOCTYPE html>
<html>

  <head>
    <title>Project 2: The Second One</title>
    <link rel="stylesheet" href="/static/style.css">
    
  </head>
  <body>
    <div id="title">
      fasdjlkj
    </div>


    <form action = "/add/" methods = "POST">
    	a bunch of buttons that will all lead u to the add route, sends story ID with it

    </form>


    <form action = "/view/" methods = "POST">
    	sends story ID to the view route
    </form>



    <form action = "/createstory/" methods = "POST">
    	Literally one button that will send u to the create route --> create.html

    </form>


  </body>



</html>
