<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/style/style.css">
  </head>
  <body>
    <div id="navbar-space">
      <div id="title-image">
	<img src="/static/img/title.png" height="70">
      </div>
      <div id="button-space">
	<form action="/">
	  <input class="navbar-button" type="submit" value="Home">
	</form>
	{%if loggedIn==True %}
	<form action="/newStory/">
	  <input class="navbar-button" type="submit" value="Create">
	</form>
	<form action="/settings/">
	  <input class="navbar-button" type="submit" value="Settings">
	</form>
	<form action="/logout/">
	  <input class="navbar-button" type="submit" value="Logout">
	</form>
	{%endif %}
      </div>
    </div>
    {% block content %}
    {% endblock %}

  </body>
  
</html>
